Otera_Policy ID Processing.json
{
  "name": "Policy ID Processing",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM",
          "mode": "list",
          "cachedResultName": "Acrisure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "policy_id",
              "lookupValue": "={{ $json.policy_number }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        320
      ],
      "id": "b42bf83f-59dc-4905-b7ce-0f0c39fb4835",
      "name": "Look up in Existing Policy",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zReS4S5L8Mrp4q9w",
          "name": "Google Sheets account 46"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad3b5b2f-637f-4d0d-b003-c0b2348e2dac",
              "leftValue": "={{ $json.policy_id }}",
              "rightValue": "={{ $json.policy_id }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        320
      ],
      "id": "ca760d30-0a83-4305-a1bd-44495d735772",
      "name": "Existing Policy Found / Not",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "oterademoacrisure@gmail.com",
        "subject": "Wrong policy number provided",
        "message": "Please give correct existing policy number",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -448,
        608
      ],
      "id": "529b10b3-a5bd-434a-9f3c-6f5f3ec85929",
      "name": "Resubmit the correct policy document",
      "webhookId": "e10f4518-b575-4599-b3a9-4ec3a38c2a9b",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1ZOv5Aq44ywk_-Xvjt-uuyJcAw6_LMYW9",
            "mode": "list",
            "cachedResultName": "John Smith Quotes",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ZOv5Aq44ywk_-Xvjt-uuyJcAw6_LMYW9"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        128
      ],
      "id": "db4c9ced-1cdc-4356-a975-2e97471a8e79",
      "name": "Search for Quotes",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kf9YDBB2VrSDROx0",
          "name": "Google Drive account 13"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1072,
        128
      ],
      "id": "17be0251-22fa-4cfd-9c3b-ad2eeea2b220",
      "name": "Download files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kf9YDBB2VrSDROx0",
          "name": "Google Drive account 13"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\n// 'items' is the global variable in n8n Code nodes containing input data\nconst mergedBinary = {};\nconst summary = [];\n\nitems.forEach((item, index) => {\n  if (item.binary) {\n    Object.keys(item.binary).forEach((key) => {\n      // Create a unique key for the new single item.\n      // We append the index (e.g., 'data_0', 'data_1') so that \n      // files don't overwrite each other if they share the generic name \"data\".\n      const newKey = `${key}_${index}`;\n      \n      mergedBinary[newKey] = item.binary[key];\n      \n      // Optional: Add metadata to JSON output for reference\n      summary.push({\n        originalKey: key,\n        newKey: newKey,\n        fileName: item.binary[key].fileName\n      });\n    });\n  }\n});\n\n// Return exactly one item containing all binary objects\nreturn [\n  {\n    json: {\n      message: \"Successfully merged binary items\",\n      fileCount: Object.keys(mergedBinary).length,\n      files: summary\n    },\n    binary: mergedBinary\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        128
      ],
      "id": "50d38f94-456f-4ebb-b9a4-e715bc60aa5f",
      "name": "Get Files"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM",
          "mode": "list",
          "cachedResultName": "Acrisure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1051123065,
          "mode": "list",
          "cachedResultName": "Smith John",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM/edit#gid=1051123065"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "customer_id",
              "lookupValue": "={{$node[\"Existing Policy Found / Not\"].json[\"customer_id\"] }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        400,
        128
      ],
      "id": "f8f1ad79-17ea-4475-a8f3-a2d47d91bdbe",
      "name": "Get available quotes",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uMhHwQPvWkjJYjV0",
          "name": "Google Sheets account 47"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "oterademoacrisure@gmail.com",
        "subject": "= {{ $('Code in JavaScript').first().json.subject }}",
        "bodyContent": "={{ $('Code in JavaScript').first().json.html_body }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data_0"
              },
              {
                "binaryPropertyName": "data_1"
              },
              {
                "binaryPropertyName": "data_2"
              },
              {
                "binaryPropertyName": "data_3"
              }
            ]
          },
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1520,
        128
      ],
      "id": "87aa1176-c5ef-4f90-b5c4-269cfda9f032",
      "name": "Send a message",
      "webhookId": "2d7fc397-0214-482b-a1a5-e9890f8d958a",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// !!! IMPORTANT INSTRUCTION !!!\n// Do NOT paste this code into the \"Email\" node.\n// This code must go into a \"Code\" node set to \"Run Once for All Items\".\n// The Output of this node (html_body) will then be used in the Email node.\n\n// 1. Initialize an empty string for the table rows\nlet emailRows = '';\n\n// 2. Loop through every quote found in the previous node\n// We use 'items' which is the n8n global variable for all input data\nitems.forEach((item, index) => {\n  const quote = item.json;\n\n  // Safety check: Ensure we have a premium to format\n  const premiumValue = quote.quoted_premium || 0;\n  \n  // Format the premium as currency (USD)\n  const formattedPremium = new Intl.NumberFormat('en-US', {\n    style: 'currency',\n    currency: 'USD'\n  }).format(premiumValue);\n\n  let AddedCoverage = 'N/A';\n  if (index === 1) AddedCoverage = 'PIP';\n\n  // Construct the selection URL with your specific Webhook\n  // We append the quote_id and customer_id as query parameters so your receiving workflow can use them.\n  const selectionUrl = `https://studio.deepopinion.ai/builder/webhook/90cfb756-469a-43e2-95fc-7da821a6b650?quote_id=${quote.quote_id}&customer_id=${quote.customer_id}&policy_id=${quote.original_policy_id}&Premium=${quote.quoted_premium}&carrier_name=${quote.carrier_name}`;\n\n  // Build the HTML for this specific row\n  emailRows += `\n    <tr>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee;\">\n        <strong style=\"font-size: 16px; color: #333;\">${quote.carrier_name || 'Unknown Carrier'}</strong>\n        ${quote.broker_recommendation === 2 ? '<br><span style=\"color: green; font-weight: bold; font-size: 10px;\">★ RECOMMENDED</span>' : ''}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; color: #555;\">\n        ${quote.quote_id}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; color: #555;\">\n        ${quote.quoted_coverage || 'N/A'}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; color: #555;\">\n        ${quote.quoted_deductible || 'N/A'}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; color: #555;\">\n        ${AddedCoverage}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; font-weight: bold;\">\n        ${quote.quoted_premium}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; text-align: center;\">\n        <a href=\"${selectionUrl}\" target=\"_blank\" style=\"background-color: #007bff; color: #ffffff; padding: 8px 12px; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 14px;\">Select</a>\n      </td>\n    </tr>\n  `;\n});\n\n// 3. Construct the email HTML fragment (Removed <html>/<body> tags to prevent empty email issues)\nconst emailHtml = `\n<div style=\"font-family: Arial, sans-serif; color: #333; width: 100%; max-width: 600px; margin: 0 auto;\">\n  <h3>Insurance Quotes Available</h3>\n  <p>Hello,</p>\n  <p>We found ${items.length} quotes for your review based on your request.</p>\n  \n  <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n    <thead style=\"background-color: #f8f9fa;\">\n      <tr>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Provider</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Quote ID</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Coverage(Comprehensive)</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Deductible</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">AddedCoverage</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Premium</th>\n        <th style=\"padding: 12px; text-align: center; border-bottom: 2px solid #dee2e6;\">Action</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${emailRows}\n    </tbody>\n  </table>\n\n  <p style=\"margin-top: 20px;\">Please select the option that best fits your needs.</p>\n  <p>Best regards,<br>Your Insurance Team</p>\n</div>\n`;\n\n// 4. Output the result\n// This creates a single item with a field called 'html_body'\nreturn [{\n  json: {\n    subject: `Insurance Quotes for ${items[0].json.customer_id}`,\n    html_body: emailHtml\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        128
      ],
      "id": "617a6c64-29f0-4438-bcd3-f6404095ecd1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1232,
        320
      ],
      "id": "bc5b90a5-0719-4f97-a090-d32d32a779e2",
      "name": "When chat message received",
      "webhookId": "01aceb0f-4ac4-4a14-8d4e-ae2314adcfee"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "oterademoacrisure@gmail.com",
        "subject": "Acknowledge Details",
        "message": "=Year/Make/Model:   {{ $json[\"Year/Make/Mode\"] }};\nLast known mileage: {{ $json[\"Current Mileage\"] }};\nNo of drivers: {{ $json[\"Number of drivers\"] }};\nCoverage: {{ $json.Coverage }}\nBased on your car usage, we are assuming your current odometer reading is: {{ Number($json[\"Current Mileage\"]) + Number($json[\"annual mileage\"])}};\nPlease confirm the odometer reading and number of drivers.",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -368,
        80
      ],
      "id": "d84b80c9-930f-45b0-b63e-3b362931d949",
      "name": "acknowledge_policy",
      "webhookId": "cc6cadb7-26fc-4c29-b93d-cf50819e4873",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "libertymutualcgt@gmail.com",
        "subject": "Request For Quote",
        "message": "=Dear Sir/Madam,\nI hope this message finds you well. I am reaching out to request a quote for auto insurance coverage. Below are the details you may need to prepare an accurate estimate:\nName:  {{ $node[\"Existing Policy Found / Not\"].json[\"beneficiary_name\"] }};\nDate of Birth:  {{ $node[\"Existing Policy Found / Not\"].json[\"Date of Birth\"] }};\nAddress:  {{ $node[\"Existing Policy Found / Not\"].json[\"Address\"] }};\nYear/Make/Model:   {{ $node[\"Existing Policy Found / Not\"].json[\"Year/Make/Mode\"] }};\nNo of drivers: {{ $node[\"Existing Policy Found / Not\"].json[\"Number of drivers\"] }};\nCurrent odometer reading is: {{ Number($node[\"Existing Policy Found / Not\"].json[\"Current Mileage\"]) + Number($node[\"Existing Policy Found / Not\"].json[\"annual mileage\"])}}; \nAccidents/Violations:  {{ $node[\"Existing Policy Found / Not\"].json[\"Accidents/Violations\"] }};\n\nBest Regards",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -112,
        512
      ],
      "id": "e11ba041-367f-4122-a0a8-3ef371e1e550",
      "name": "Liberty_Mutual",
      "webhookId": "c37a8636-ca04-4f2a-95f7-24ebe157456e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "travellerscgt@gmail.com",
        "subject": "Request for Quote",
        "message": "=Dear Sir/Madam,\nI hope this message finds you well. I am reaching out to request a quote for auto insurance coverage. Below are the details you may need to prepare an accurate estimate:\nName:  {{ $node[\"Existing Policy Found / Not\"].json[\"beneficiary_name\"] }};\nDate of Birth:  {{ $node[\"Existing Policy Found / Not\"].json[\"Date of Birth\"] }};\nAddress:  {{ $node[\"Existing Policy Found / Not\"].json[\"Address\"] }};\nYear/Make/Model:   {{ $node[\"Existing Policy Found / Not\"].json[\"Year/Make/Mode\"] }};\nNo of drivers: {{ $node[\"Existing Policy Found / Not\"].json[\"Number of drivers\"] }};\nCurrent odometer reading is: {{ Number($node[\"Existing Policy Found / Not\"].json[\"Current Mileage\"]) + Number($node[\"Existing Policy Found / Not\"].json[\"annual mileage\"])}}; \nAccidents/Violations:  {{ $node[\"Existing Policy Found / Not\"].json[\"Accidents/Violations\"] }};\n\nBest Regards",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -128,
        272
      ],
      "id": "2bd688cf-240c-4826-a233-3377a7e9df8e",
      "name": "Travellers",
      "webhookId": "6874b24f-d209-419f-9e61-cae75b4c12be",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "progressivecgt@gmail.com",
        "subject": "Request For Auto Quote",
        "message": "=Dear Sir/Madam,\nI hope this message finds you well. I am reaching out to request a quote for auto insurance coverage. Below are the details you may need to prepare an accurate estimate:\nName:  {{ $node[\"Existing Policy Found / Not\"].json[\"beneficiary_name\"] }};\nDate of Birth:  {{ $node[\"Existing Policy Found / Not\"].json[\"Date of Birth\"] }};\nAddress:  {{ $node[\"Existing Policy Found / Not\"].json[\"Address\"] }};\nYear/Make/Model:   {{ $node[\"Existing Policy Found / Not\"].json[\"Year/Make/Mode\"] }};\nNo of drivers: {{ $node[\"Existing Policy Found / Not\"].json[\"Number of drivers\"] }};\nCurrent odometer reading is: {{ Number($node[\"Existing Policy Found / Not\"].json[\"Current Mileage\"]) + Number($node[\"Existing Policy Found / Not\"].json[\"annual mileage\"])}}; \nAccidents/Violations:  {{ $node[\"Existing Policy Found / Not\"].json[\"Accidents/Violations\"] }};\n\nBest Regards",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -112,
        80
      ],
      "id": "00eef89d-2593-4584-9901-e001cc1a807c",
      "name": "Progressive",
      "webhookId": "d123822c-3cde-4528-bc8c-32eac5e6b879",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // 1) Read the correct field and normalize\n  const raw = item.json.chatInput ?? item.json.text ?? '';\n  const text = String(raw).trim().replace(/^\"+|\"+$/g, ''); // remove leading/trailing quotes\n \n  // 2) Extract the policy number (format: POL-YYYY-NNNNNN)\n  const match = text.match(/\\bPOL-\\d{4}-\\d{6}\\b/i);\n \n  // 3) Write result back\n  item.json.policy_number = match ? match[0] : null;\n  item.json._parsedFrom = 'chatInput';\n  item.json._raw = raw;       // optional: keep original for audit\n  item.json._normalized = text; // optional: keep normalized text\n}\n \nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        320
      ],
      "id": "522f190f-12d2-430f-aeda-f43a6b4beac0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "resource": "case",
        "type": "Structural",
        "additionalFields": {
          "description": "=Dear Sir/Madam, I hope this message finds you well. I am reaching out to request a quote for auto insurance coverage. Below are the details you may need to prepare an accurate estimate: Name:  {{ $node[\"Existing Policy Found / Not\"].json[\"beneficiary_name\"] }}; Date of Birth:  {{ $node[\"Existing Policy Found / Not\"].json[\"Date of Birth\"] }}; Address:  {{ $node[\"Existing Policy Found / Not\"].json[\"Address\"] }}; Year/Make/Model:   {{ $node[\"Existing Policy Found / Not\"].json[\"Year/Make/Mode\"] }}; No of drivers: {{ $node[\"Existing Policy Found / Not\"].json[\"Number of drivers\"] }}; Current odometer reading is: {{ Number($node[\"Existing Policy Found / Not\"].json[\"Current Mileage\"]) + Number($node[\"Existing Policy Found / Not\"].json[\"annual mileage\"])}};  Accidents/Violations:  {{ $node[\"Existing Policy Found / Not\"].json[\"Accidents/Violations\"] }};  Best Regards",
          "isEscalated": true
        }
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        -128,
        -160
      ],
      "id": "b51fc5df-a744-48c2-8a43-32ee48f6b55e",
      "name": "Create a case",
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "PymRJ3yuQm18M6E0",
          "name": "Salesforce account 8"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        96
      ],
      "id": "c6df96d6-0112-4663-bf67-6eb3f600cb75",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Look up in Existing Policy": {
      "main": [
        [
          {
            "node": "Existing Policy Found / Not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Policy Found / Not": {
      "main": [
        [
          {
            "node": "acknowledge_policy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resubmit the correct policy document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Quotes": {
      "main": [
        [
          {
            "node": "Download files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download files": {
      "main": [
        [
          {
            "node": "Get Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Files": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get available quotes": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Search for Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "acknowledge_policy": {
      "main": [
        [
          {
            "node": "Create a case",
            "type": "main",
            "index": 0
          },
          {
            "node": "Progressive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Travellers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Liberty_Mutual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberty_Mutual": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Travellers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Progressive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Look up in Existing Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a case": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get available quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "a9e108eb-286c-4c16-a1e1-6576d1a6f2fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84d9f2ce9b739cfca25c1ababd348dbc6829f255548a71abcc4a264bb306f5f7"
  },
  "id": "3LSf4m9LDEPxOrM1",
  "tags": []
}