Otera_Policy Document Processing.json
{
  "name": "Policy Document Processing",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad3b5b2f-637f-4d0d-b003-c0b2348e2dac",
              "leftValue": "={{ $json.policy_id }}",
              "rightValue": "={{ $json.policy_id }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -848,
        336
      ],
      "id": "0da72cd3-c836-4bf8-a0a6-1040fa78fe7d",
      "name": "Existing Policy Found / Not"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1ZOv5Aq44ywk_-Xvjt-uuyJcAw6_LMYW9",
            "mode": "list",
            "cachedResultName": "John Smith Quotes",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ZOv5Aq44ywk_-Xvjt-uuyJcAw6_LMYW9"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        912,
        112
      ],
      "id": "d702e43e-667a-4cd9-90a9-67e74f3d5134",
      "name": "Search for Quotes",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kf9YDBB2VrSDROx0",
          "name": "Google Drive account 13"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        112
      ],
      "id": "06ef95f5-448b-4dfb-a8fa-413ce80bedf2",
      "name": "Download files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kf9YDBB2VrSDROx0",
          "name": "Google Drive account 13"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop through all incoming items\n// 'items' is the global variable in n8n Code nodes containing input data\nconst mergedBinary = {};\nconst summary = [];\n\nitems.forEach((item, index) => {\n  if (item.binary) {\n    Object.keys(item.binary).forEach((key) => {\n      // Create a unique key for the new single item.\n      // We append the index (e.g., 'data_0', 'data_1') so that \n      // files don't overwrite each other if they share the generic name \"data\".\n      const newKey = `${key}_${index}`;\n      \n      mergedBinary[newKey] = item.binary[key];\n      \n      // Optional: Add metadata to JSON output for reference\n      summary.push({\n        originalKey: key,\n        newKey: newKey,\n        fileName: item.binary[key].fileName\n      });\n    });\n  }\n});\n\n// Return exactly one item containing all binary objects\nreturn [\n  {\n    json: {\n      message: \"Successfully merged binary items\",\n      fileCount: Object.keys(mergedBinary).length,\n      files: summary\n    },\n    binary: mergedBinary\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        112
      ],
      "id": "025b4861-ce6a-4991-960f-0f04fc675bc4",
      "name": "Get Files"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM",
          "mode": "list",
          "cachedResultName": "Acrisure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1051123065,
          "mode": "list",
          "cachedResultName": "Smith John",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM/edit#gid=1051123065"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "customer_id",
              "lookupValue": "={{$node[\"Existing Policy Found / Not\"].json[\"customer_id\"] }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        464,
        112
      ],
      "id": "88792e3c-52a6-4777-b84a-baa59a0c38dd",
      "name": "Get available quotes",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uMhHwQPvWkjJYjV0",
          "name": "Google Sheets account 47"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "oterademoacrisure@gmail.com",
        "subject": "= {{ $('Code in JavaScript').first().json.subject }}",
        "bodyContent": "={{ $('Code in JavaScript').first().json.html_body }}",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data_0"
              },
              {
                "binaryPropertyName": "data_1"
              },
              {
                "binaryPropertyName": "data_2"
              },
              {
                "binaryPropertyName": "data_3"
              }
            ]
          },
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1584,
        112
      ],
      "id": "cbe7ca8d-b6d1-433e-a470-9d497cf32103",
      "name": "Send a message",
      "webhookId": "2d7fc397-0214-482b-a1a5-e9890f8d958a",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// !!! IMPORTANT INSTRUCTION !!!\n// Do NOT paste this code into the \"Email\" node.\n// This code must go into a \"Code\" node set to \"Run Once for All Items\".\n// The Output of this node (html_body) will then be used in the Email node.\n\n// 1. Initialize an empty string for the table rows\nlet emailRows = '';\n\n// 2. Loop through every quote found in the previous node\n// We use 'items' which is the n8n global variable for all input data\nitems.forEach((item, index) => {\n  const quote = item.json;\n\n  // Safety check: Ensure we have a premium to format\n  const premiumValue = quote.quoted_premium || 0;\n  \n  // Format the premium as currency (USD)\n  const formattedPremium = new Intl.NumberFormat('en-US', {\n    style: 'currency',\n    currency: 'USD'\n  }).format(premiumValue);\n\n  let AddedCoverage = 'N/A';\n  if (index === 1) AddedCoverage = 'PIP';\n\n  // Construct the selection URL with your specific Webhook\n  // We append the quote_id and customer_id as query parameters so your receiving workflow can use them.\n  const selectionUrl = `https://studio.deepopinion.ai/builder/webhook/90cfb756-469a-43e2-95fc-7da821a6b650?quote_id=${quote.quote_id}&customer_id=${quote.customer_id}&policy_id=${quote.original_policy_id}&Premium=${quote.quoted_premium}&carrier_name=${quote.carrier_name}`;\n\n  // Build the HTML for this specific row\n  emailRows += `\n    <tr>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee;\">\n        <strong style=\"font-size: 16px; color: #333;\">${quote.carrier_name || 'Unknown Carrier'}</strong>\n        ${quote.broker_recommendation === 2 ? '<br><span style=\"color: green; font-weight: bold; font-size: 10px;\">★ RECOMMENDED</span>' : ''}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; color: #555;\">\n        ${quote.quote_id}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; color: #555;\">\n        ${quote.quoted_coverage || 'N/A'}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; color: #555;\">\n        ${quote.quoted_deductible || 'N/A'}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; color: #555;\">\n        ${AddedCoverage}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; font-weight: bold;\">\n        ${quote.quoted_premium}\n      </td>\n      <td style=\"padding: 12px; border-bottom: 1px solid #eeeeee; text-align: center;\">\n        <a href=\"${selectionUrl}\" target=\"_blank\" style=\"background-color: #007bff; color: #ffffff; padding: 8px 12px; text-decoration: none; border-radius: 4px; font-weight: bold; font-size: 14px;\">Select</a>\n      </td>\n    </tr>\n  `;\n});\n\n// 3. Construct the email HTML fragment (Removed <html>/<body> tags to prevent empty email issues)\nconst emailHtml = `\n<div style=\"font-family: Arial, sans-serif; color: #333; width: 100%; max-width: 600px; margin: 0 auto;\">\n  <h3>Insurance Quotes Available</h3>\n  <p>Hello,</p>\n  <p>We found ${items.length} quotes for your review based on your request.</p>\n  \n  <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\n    <thead style=\"background-color: #f8f9fa;\">\n      <tr>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Provider</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Quote ID</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Coverage(Comprehensive)</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Deductible</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">AddedCoverage</th>\n        <th style=\"padding: 12px; text-align: left; border-bottom: 2px solid #dee2e6;\">Premium</th>\n        <th style=\"padding: 12px; text-align: center; border-bottom: 2px solid #dee2e6;\">Action</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${emailRows}\n    </tbody>\n  </table>\n\n  <p style=\"margin-top: 20px;\">Please select the option that best fits your needs.</p>\n  <p>Best regards,<br>Your Insurance Team</p>\n</div>\n`;\n\n// 4. Output the result\n// This creates a single item with a field called 'html_body'\nreturn [{\n  json: {\n    subject: `Insurance Quotes for ${items[0].json.customer_id}`,\n    html_body: emailHtml\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        112
      ],
      "id": "1919a1e8-9575-4373-8743-676ef5484373",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1520,
        336
      ],
      "id": "86a82175-2419-4fdc-9b78-11f221f8d49e",
      "name": "When chat message received",
      "webhookId": "01aceb0f-4ac4-4a14-8d4e-ae2314adcfee"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "oterademoacrisure@gmail.com",
        "subject": "Acknowledge Details",
        "message": "=Year/Make/Model:   {{ $json[\"Year/Make/Mode\"] }};\nLast known mileage: {{ $json[\"Current Mileage\"] }};\nNo of drivers: {{ $json[\"Number of drivers\"] }};\nCoverage: {{ $json.Coverage }}\nBased on your car usage, we are assuming your current odometer reading is: {{ Number($json[\"Current Mileage\"]) + Number($json[\"annual mileage\"])}};\nPlease confirm the odometer reading and number of drivers.",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -624,
        240
      ],
      "id": "10198dbf-8312-4553-a0f5-88d05789c577",
      "name": "acknowledge_policy",
      "webhookId": "cc6cadb7-26fc-4c29-b93d-cf50819e4873",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "libertymutualcgt@gmail.com",
        "subject": "Request For Quote",
        "message": "=Dear Sir/Madam,\nI hope this message finds you well. I am reaching out to request a quote for auto insurance coverage. Below are the details you may need to prepare an accurate estimate:\nName:  {{ $node[\"Existing Policy Found / Not\"].json[\"beneficiary_name\"] }};\nDate of Birth:  {{ $node[\"Existing Policy Found / Not\"].json[\"Date of Birth\"] }};\nAddress:  {{ $node[\"Existing Policy Found / Not\"].json[\"Address\"] }};\nYear/Make/Model:   {{ $node[\"Existing Policy Found / Not\"].json[\"Year/Make/Mode\"] }};\nNo of drivers: {{ $node[\"Existing Policy Found / Not\"].json[\"Number of drivers\"] }};\nCurrent odometer reading is: {{ Number($node[\"Existing Policy Found / Not\"].json[\"Current Mileage\"]) + Number($node[\"Existing Policy Found / Not\"].json[\"annual mileage\"])}}; \nAccidents/Violations:  {{ $node[\"Existing Policy Found / Not\"].json[\"Accidents/Violations\"] }};\n\nBest Regards",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -288,
        544
      ],
      "id": "ed2456d9-b5cd-455c-85b9-9fee63f68aa4",
      "name": "Liberty_Mutual",
      "webhookId": "c37a8636-ca04-4f2a-95f7-24ebe157456e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "travellerscgt@gmail.com",
        "subject": "Request for Quote",
        "message": "=Dear Sir/Madam,\nI hope this message finds you well. I am reaching out to request a quote for auto insurance coverage. Below are the details you may need to prepare an accurate estimate:\nName:  {{ $node[\"Existing Policy Found / Not\"].json[\"beneficiary_name\"] }};\nDate of Birth:  {{ $node[\"Existing Policy Found / Not\"].json[\"Date of Birth\"] }};\nAddress:  {{ $node[\"Existing Policy Found / Not\"].json[\"Address\"] }};\nYear/Make/Model:   {{ $node[\"Existing Policy Found / Not\"].json[\"Year/Make/Mode\"] }};\nNo of drivers: {{ $node[\"Existing Policy Found / Not\"].json[\"Number of drivers\"] }};\nCurrent odometer reading is: {{ Number($node[\"Existing Policy Found / Not\"].json[\"Current Mileage\"]) + Number($node[\"Existing Policy Found / Not\"].json[\"annual mileage\"])}}; \nAccidents/Violations:  {{ $node[\"Existing Policy Found / Not\"].json[\"Accidents/Violations\"] }};\n\nBest Regards",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -288,
        352
      ],
      "id": "659eeeaa-9981-4dfd-ade9-3606ceff9a12",
      "name": "Travellers",
      "webhookId": "6874b24f-d209-419f-9e61-cae75b4c12be",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "progressivecgt@gmail.com",
        "subject": "Request For Auto Quote",
        "message": "=Dear Sir/Madam,\nI hope this message finds you well. I am reaching out to request a quote for auto insurance coverage. Below are the details you may need to prepare an accurate estimate:\nName:  {{ $node[\"Existing Policy Found / Not\"].json[\"beneficiary_name\"] }};\nDate of Birth:  {{ $node[\"Existing Policy Found / Not\"].json[\"Date of Birth\"] }};\nAddress:  {{ $node[\"Existing Policy Found / Not\"].json[\"Address\"] }};\nYear/Make/Model:   {{ $node[\"Existing Policy Found / Not\"].json[\"Year/Make/Mode\"] }};\nNo of drivers: {{ $node[\"Existing Policy Found / Not\"].json[\"Number of drivers\"] }};\nCurrent odometer reading is: {{ Number($node[\"Existing Policy Found / Not\"].json[\"Current Mileage\"]) + Number($node[\"Existing Policy Found / Not\"].json[\"annual mileage\"])}}; \nAccidents/Violations:  {{ $node[\"Existing Policy Found / Not\"].json[\"Accidents/Violations\"] }};\n\nBest Regards",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -288,
        160
      ],
      "id": "c1c3e53f-b691-49ee-a7e7-f47a52feb8cd",
      "name": "Progressive",
      "webhookId": "d123822c-3cde-4528-bc8c-32eac5e6b879",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "resource": "case",
        "type": "Structural",
        "additionalFields": {
          "description": "=Dear Sir/Madam, I hope this message finds you well. I am reaching out to request a quote for auto insurance coverage. Below are the details you may need to prepare an accurate estimate: Name:  {{ $node[\"Existing Policy Found / Not\"].json[\"beneficiary_name\"] }}; Date of Birth:  {{ $node[\"Existing Policy Found / Not\"].json[\"Date of Birth\"] }}; Address:  {{ $node[\"Existing Policy Found / Not\"].json[\"Address\"] }}; Year/Make/Model:   {{ $node[\"Existing Policy Found / Not\"].json[\"Year/Make/Mode\"] }}; No of drivers: {{ $node[\"Existing Policy Found / Not\"].json[\"Number of drivers\"] }}; Current odometer reading is: {{ Number($node[\"Existing Policy Found / Not\"].json[\"Current Mileage\"]) + Number($node[\"Existing Policy Found / Not\"].json[\"annual mileage\"])}};  Accidents/Violations:  {{ $node[\"Existing Policy Found / Not\"].json[\"Accidents/Violations\"] }};  Best Regards",
          "isEscalated": true
        }
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        -288,
        -32
      ],
      "id": "6b9b04be-88d0-438a-a11f-09337e6b785d",
      "name": "Create a case",
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "PymRJ3yuQm18M6E0",
          "name": "Salesforce account 8"
        }
      }
    },
    {
      "parameters": {
        "agenticSkillId": 10162,
        "modelId": 29640,
        "binaryPropertyName": "data0"
      },
      "type": "CUSTOM.documentInfoExtraction",
      "typeVersion": 1,
      "position": [
        -1296,
        336
      ],
      "id": "2aed8f4c-bf1f-4562-81af-3b10af34fe79",
      "name": "Policy Number Extraction",
      "webhookId": "7960f6ec-2320-4c82-a804-06efdc697819",
      "credentials": {
        "deepOpinionApi": {
          "id": "aGD09HhxucOKlsIC",
          "name": "DeepOpinion Account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM",
          "mode": "list",
          "cachedResultName": "Acrisure",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s4y8oNNwxN7C4mmdNUWHIiV0xHlPpcQxkURWLnL1shM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "policy_id",
              "lookupValue": "={{ $json.documents[0].matches['policy number'][0].match }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1072,
        336
      ],
      "id": "cefcf15e-1e2a-406b-8338-846d9fb37acd",
      "name": "Look up in Existing Policy1",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Iq6oQ9JjOygINdUE",
          "name": "Google Sheets account 42"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "oterademoacrisure@gmail.com",
        "subject": "Wrong policy number provided",
        "bodyContent": "Dear Team,\n\nThe system attempted to locate an existing policy for the customer request but found no matching record.\n\nPlease review the request and initiate manual follow-up or onboarding if necessary.\n\nBest regards,  \nAutomation System – Acrisure Insurance",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -608,
        512
      ],
      "id": "4a7786d6-7d44-42a6-814f-850ac4d44960",
      "name": "Resubmit the correct policy document",
      "webhookId": "924c1866-3676-4a9c-b3a8-9c2a910e4560",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "lFyLl1dv8DUySOwA",
          "name": "Microsoft Outlook account 65"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        80
      ],
      "id": "cd17d109-ee33-4f24-8479-4f7a09c1295b",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Existing Policy Found / Not": {
      "main": [
        [
          {
            "node": "acknowledge_policy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resubmit the correct policy document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Quotes": {
      "main": [
        [
          {
            "node": "Download files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download files": {
      "main": [
        [
          {
            "node": "Get Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Files": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get available quotes": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Search for Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Policy Number Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "acknowledge_policy": {
      "main": [
        [
          {
            "node": "Create a case",
            "type": "main",
            "index": 0
          },
          {
            "node": "Progressive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Travellers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Liberty_Mutual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberty_Mutual": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Travellers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Progressive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create a case": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Number Extraction": {
      "main": [
        [
          {
            "node": "Look up in Existing Policy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Look up in Existing Policy1": {
      "main": [
        [
          {
            "node": "Existing Policy Found / Not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get available quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "5d4fa7e6-20ae-4a8e-a900-db2a8522e6a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84d9f2ce9b739cfca25c1ababd348dbc6829f255548a71abcc4a264bb306f5f7"
  },
  "id": "8qiS9oK4T6UVjxDn",
  "tags": []
}